@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;500&family=Lexend+Zetta&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #73fb61;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-menu {
  color: white;
  align-items: center;
  align-content: center;
  margin-left: 60%;
  padding: 20px 0;
}

.menu-link {
  color: rgb(185, 15, 15);
  text-align: center;
  margin: 0 10px;
  font-size: 12px;
  text-decoration: none !important;
  font-weight: bolder;
  font-family: 'Grenze Gotisch', cursive !important;
  font-family: 'Lexend Zetta', sans-serif !important;
}

.menu-link:hover {
  color: #AAAAAA;
  text-align: center;
  margin: 0 10px;
  font-size: 12px;
  text-decoration: none !important;
  font-weight: bolder;
  text-decoration: underline;
  font-family: 'Grenze Gotisch', cursive;
  font-family: 'Lexend Zetta', sans-serif;
}

.logo-div {
  float: left;
  margin-left: -140%;
}

.logo {
  margin-top: -22px;
  width: 110px;
}

.menu-div {
  float: inherit;
}

.bg-white {
  background-color: white;
}

.main-div {
  margin-bottom: -8px;
}

.footer {
  margin-bottom: -1%;
}